h1, p, h2 {
    font-family: 'Roboto Mono';
    color: #efefef;
    padding: 20px;
}

main {
    align-items: center;
}

body {
    margin: auto;
    background-color: #0f0f0f;
}

.pages {
    font-family: 'Roboto Mono';
    color: #efefef;
    padding: 20px;
}

.navbar {
    text-align: center;
    padding: 20px;
}

a:hover {
    color: #03b6fc;
}

.media__img {
    width: 75%;
    max-width: 1000px;
    height: auto;
    padding: 5px 5px;
}

.media {
    display: flex;
    align-items: top;
    gap: 1rem;
}

/* .media__img {
    width: 45%;
    height: auto;
    flex-shrink: 0;
} */

.collection {
    /* position: relative; */
    width: 100%;
}

.filmstrip {
    width: 100vw;
    max-width: 100%;
    min-width: 750px;
    position: relative;
}

.film-cell-1 {
    position: relative;
    top: 40px;
    left: 100px;
    padding: 0;
    width: 240px;
    height: 160px;
}