html {
    color-scheme: dark;
}

body {
    background-image: url("../images/background.jpg");
}

.title {
    text-align: center;
}

.glass-effect {
    background: linear-gradient( 135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solig rgba(255, 255, 255, 0.18);
    border-radius: 32px;
} 

.rectangle {
    height: 250px;
    width: 500px;
}

/* .navbar {
    vertical-alig;
} */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
  