.basic {
    font-family: 'Space Mono';
    color: #EFEFEF;
}

body {
    margin: auto;
    background-color: #050505;
    font-family: 'Space Mono';
    color: #efefef;
}

/* .page-title {
    padding: 20px;
    display: flex;
    align-items: flex-start;
    max-width: 1500px;
    margin: 0.5rem auto; 
} */

.page-content {
    padding: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    max-width: 1200px;
    margin: 0.5rem auto; 
    overflow: visible;
}


.pages {
    font-family: 'Space Mono';
    color: #efefef;
    padding: 20px;
}

.navbar {
    text-align: center;
    padding: 20px;
}

a:hover {
    color: #03b6fc;
}

/* home page gallery */

.gallery-item {
    display: flex;
    align-items: flex-start;
    max-width: 1500px;
    margin: 0.5rem auto;
}

.gallery-item img {
    flex: 0 0 75%;
    width: 75%;
    height: auto;
    display: block;
    object-fit: cover;
}

.gallery-item .text {
    flex: 0 0 25%;
    min-width: 0;
    padding-left: 1rem;
}

/* .gallery-item .text h2 {
    margin: 0 0 0.5rem;
    font-size: 1.5rem;
}
*/

.gallery-item .text pre{
    font-size: 1rem;
    padding: 20px 0;
    font-family: "Space Mono";
}

.gallery-item .text h2,
.gallery-item .text p,
.gallery-item .text pre {
  margin: 0.5em 0;
  overflow-wrap: break-word;   /* allow breaking within long words */
  word-wrap: break-word;       /* legacy name for same behavior */
}

@media (max-width: 800px) {
    .gallery-item {
        flex-direction: column;
    }
    .gallery-item img {
        width: 100%;
        flex: none;
    }
    .gallery-item .text {
        padding-left: 0;
        padding-top: 1rem;
    }
}


/* for collections page, will deal with later */

.collection {
    position: relative;
    width: 100%;
    height: auto;
}

/* .collection img {
    margin: -0.5rem;
    padding: -20px;
    width: calc(100% + 40px);
    height: auto;
} */

.filmstrip {
    width: 100vw;
    max-width: 100%;
    min-width: 750px;
    /* position: relative; */
}

.film-cell-1 {
    position: absolute;
    left: 93px;
    top: 37px;
    width: 240px;
    height: 160px;
    object-fit: cover;
}

/* #img1-tags {
    white-space: pre-line;
} */